<!DOCTYPE html PUBLIC  "">

<html xmlns=">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



<link href="./bootstrap-theme.css" rel="Stylesheet" type="text/css">
<link href="./bootstrap_oferente.css" rel="Stylesheet" type="text/css">


<title>

</title></head>
<body>
    <form name="form1" method="post"  id="form1">







        <div class="datos_user col-md-3 col-sm-12 col-xs-12">
      

            <div id="DvContenedorMenu">
                <p style="font-family: Arial;font-size:1.35em;color:#606060;font-weight:bold;margin-top:10px;margin-bottom:10px"><strong>Completado</strong></p>
                <div class="pull-right">
                    100%
                </div>
                <div class="clearfix"></div>
                <div class=" progress">
                    <div id="PorcentajeHV" class="progress-bar progress-bar-success" style="width:100%;"></div>
                </div>
               <ul class="list-group lista-cuenta">
                
				 <li id="DivDescargaHV" class="list-group-item">
                    <i class="icon-download-alt"></i>
                    <a id="BtnDescargar" title="" href="">
                                        Descargar Hoja de Vida</a>
                </li>
                <li id="DivDescargaHV" class="list-group-item">
                    <i class="icon-download-alt"></i>
                    <a id="BtnDescargar" title="" href="">
                                        Descargar Hoja de Vida</a>
                </li>
             

               </ul>
                <div class="clearfix"></div>
            </div>
             <div class="clearfix"></div>
        </div>
    </form>

</body>

</html>